﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <title>IOT Registration</title>
    <link rel="stylesheet" href="/app/css/editForm.css" />
    <link rel="stylesheet" href="/app/css/nav.css" />
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between"
         style="background-color: #001a70;">
        <a class="navbar-brand" href="/">
            <div class="logoImg">
                <img src="/img/mkcLogo_Trans.png" alt="MKC" class="img-fluid" />
            </div>
        </a>
        <!--<ul id="title" class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{edit.firstName + ' ' + edit.secondName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ng-click="logout()">Log out</a>
                </div>
            </li>
        </ul>-->
    </nav>
    <div class="wrapper">

        <div class="box-wrapper">
            <div class="form-wrapper">
                <div class="form">
                    <div id="login-form" class="login-form-1">
                        <form class="form_body">
                            <div class="form-group">
                                <label>Student ID</label>
                                <input type="text" class="form-control" placeholder="ID" value="" ng-model="id" />
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" placeholder="New Password" value="" ng-model="newPassword" />
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" placeholder="Confirm New Password" value="" ng-model="newPassword2" />
                            </div>
                            <div class="form-group">
                                <a href="/login" style="flex:1;">Return</a>
                                <input type="submit" class="btnSubmit right_btn" id="register" value="Save" ng-click="resetSubmit()" style="width: 150px;margin-left:20px;" />
                            </div>
                        </form>

                    </div>

                </div>
            </div>

            <div class="blue-box-wrapper">
                <div class="blue-box">
                    <div class="imgWrapper">
                        <img src="img/bg-img-001.jpg" alt="blue distorted shades" id="bgImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>