﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IOT Login</title>
 
    <link rel="stylesheet" href="/app/css/loginForm.css" />
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between"
         style="background-color: #001a70;">
        <a class="navbar-brand" href="/">
            <div class="logoImg">
                <img src="/img/mkcLogo_Trans.png" alt="MKC" class="img-fluid" />
            </div>
        </a>
    </nav>
    <div class="blur"></div>
    <form class="popup_form">
        <h4>Reset Password</h4>
        <br />
        <div class="form-group">
            <label>student ID</label>
            <input type="number" class="form-control" placeholder="ID" value="" ng-model="resetID" required />
        </div>
        <div class="form-group" style="justify-content: space-between;margin-top: 70px; display:flex;">
            <input type="button" id="close" class="btnSubmit" value="Close" ng-click="ResetPassword()" style="width: 250px; margin-left:0;" />
            <input type="submit" id="register" class="btnSubmit" value="Save" ng-click="ResetSubmit()" style="width: 250px;" />
        </div>
    </form>
    <div class="wrapper">

        <div class="box-wrapper">
            <div class="form-wrapper">
                <div class="form">
                    <div id="login-form" class="login-form-1">
                        <form>
                            <div class="form-group">
                                <input id="emailTextbox" type="text" class="form-control" placeholder="Your Student Id *" value="" ng-model="login.id" validate />
                            </div>
                            <div class="form-group" id="passwordField">
                                <input type="password" class="form-control" placeholder="Your Password *" value=""  ng-model="login.password" validate />
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" value="Login" ng-click="loginSubmit()" />
                            </div>
                            <div class="form-group">
                                <button class="ForgetPwd" ng-click="ResetPassword()">Forgot Password?</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="register-wrapper">
                <div class="register-text">
                    <h5>Not already registered?</h5>
                    <div class="form-group signUpWrapper">
                        <button class="signUpButton"><a href="/signup" class="signUpButton">Register now!</a></button>
                    </div>
                </div>
            </div>

            <div class="blue-box-wrapper">
                <div class="blue-box">
                    <div class="imgWrapper">
                        <img src="/img/bg-img-001.jpg" alt="blue distorted shades" id="bgImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>