﻿<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

    <link rel="stylesheet" href="/app/css/indexStyle.css" />
    <link rel="stylesheet" href="/app/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/teacher.css">
    <title>MK college - Teachers</title>
</head>
<body>
    <div class="blur"></div>
    <form class="popup_form">
        <h4 style="color: #001a70;">Add Course</h4>
        <br />
        <div class="form-group form_flex">
            <label class="blue-lbl">Name</label>
            <input type="text" class="form-control popup_input" placeholder="Name" value="" ng-model="addCourse.name" required />
        </div>
        <div class="form-group form_flex">
            <label class="blue-lbl">Level</label>
            <input type="number" class="form-control popup_input" placeholder="Level" value="" ng-model="addCourse.level" required />
        </div>
        <div class="form-group form_flex">
            <label class="blue-lbl">Description</label>
            <input type="text" class="form-control popup_input" placeholder="Description" value="" ng-model="addCourse.description" required />
        </div>
        <div class="form-group form_flex">
            <label class="blue-lbl">Cost</label>
            <input type="number" class="form-control popup_input" placeholder="Cost(£)" value="" ng-model="addCourse.cost" required />
        </div>
        <div class="form-group form_flex">
            <label class="blue-lbl">Start Date</label>
            <input type="date" class="form-control popup_input" placeholder="Start Date" value="" ng-model="addCourse.startDate" required />
        </div>
        <div class="form-group form_flex" >
            <label class="blue-lbl">End Date</label>
            <input type="date" class="form-control popup_input" placeholder="End Date" value="" ng-model="addCourse.endDate" required />
        </div>
        <div class="form-group form_flex">
            <label class="blue-lbl">Learning Time</label>
            <input type="number" class="form-control popup_input" placeholder="Learning Time(hours)" value="" ng-model="addCourse.learningTime" required />
        </div>
        <div class="form-group" style="justify-content: space-between;margin-top: 70px; display:flex;">
            <input type="button" id="close" class="btnSubmit" value="Close" ng-click="toggleAddCourse()()" style="width: 250px; margin-left:0;" />
            <input type="submit" id="register" class="btnSubmit" value="Save" ng-click="addCourseSubmit()" style="width: 250px;" />
        </div>
    </form>

    <div class="container-fluid">
        <nav id="header">
            <div class="row">
                <div class="logo-container">
                    <img src="/img/mkcLogo_Trans.png" alt="MKC" style="max-width:100px;margin: 1rem;">
                </div>
                <ul id="title" class="navbar-nav" style="margin-right:20px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{current_user.fullName}}(Admin)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="margin-bottom:10px;" href="#" ng-click="logout()">Log out</a>

                            <a class="dropdown-item" href="/edit">Change Details</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

        <!--<ul class="nav nav-tabs center-padding" role="tablist">
            <li class="nav-item"><a id="coursesTab" data-toggle="tab" class="nav-link" href="#courses" >Courses</a></li>
            <li class="nav-item"><a id="studentsTab" data-toggle="tab" class="nav-link" href="#students">Students</a></li>
            <li class="nav-item"><a id="timetableTab" data-toggle="tab" class="nav-link" href="#timetable">Timetable</a></li>
            <li class="nav-item"><a id="roomBookingTab" data-toggle="tab" class="nav-link" href="#roomBooking">Room Booking</a></li>
        </ul>-->
        <ul class="nav nav-tabs center-padding" role="tablist">
            <li class="nav-item"><a id="coursesTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('courses')">Courses</a></li>
            <li class="nav-item"><a id="studentsTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('students')">Students</a></li>
            <li class="nav-item"><a id="timetableTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('timetable')">Timetable</a></li>
            <li class="nav-item"><a id="roomBookingTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('roomBooking')">Room Booking</a></li>
            <li class="nav-item"><a id="roomBookingTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('addAdmin')">Add Admin</a></li>
        </ul>
        <br>
        <div class="tab-content">
            <div id="courses" class="tab-pane  fade-in active" style="display:none;">
                <!--Courses-->
                <div class="wrapper">

                    <div class="course-wrapper">
                        <form class="form-inline search-bar search" style="justify-content:space-between;">
                            <a href="#" ng-click="toggleAddCourse()">Add Course</a>
                            <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" ng-model="search" ng-change="filterData()">
                        </form>
                        <div class="row">

                            <div class="card-wrapper col-xl-3 col-lg-4 col-md-6 col-sm-12" ng-repeat="course in courses">
                                <div class="card">

                                    <img class="card-img-top" src="/img/courses/{{ course.img }}" alt="Card image cap" />
                                    <div class="card-body">
                                        <h5 class="card-title">{{ course.name }}</h5>
                                        <h6 class="card-title">Level: {{ course.level }}</h6>
                                        <h6 class="card-title">Duration: {{ course.startDate | date }} - {{ course.startDate | date }}</h6>
                                        <p class="card-text">
                                            {{course.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="students" class="tab-pane fade-in center-padding" style="display:none;">
                <form class="form-inline search-bar search">
                    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" ng-model="search" ng-change="filterData()">
                </form>
                <div>
                    <table>
                        <tr>
                            <th>Student ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>View Details</th>
                        </tr>
                        <tr ng-repeat="student in students">
                            <td>{{student.id}}</td>
                            <td>{{student.firstname}}</td>
                            <td>{{student.secondname}}</td>
                            <td><a href="#" ng-click="studentSwitch(student.id)" style="color:blue">View</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="studentView" class="tab-pane fade-in center-padding" style="display:none;">
                <h5>Student ID : {{studentID}}</h5>
                <div style="margin:20px 0px;">
                    <table>
                        <tr>
                            <th>Course ID</th>
                            <th>State</th>
                            <th>name</th>
                            <th>level</th>
                            <th>Start Date</th>
                            <th>Update State</th>
                        </tr>
                        <tr ng-repeat="details in stu">
                            <td>{{details.courseId}}</td>
                            <td>{{details.state}}</td>
                            <td>{{details.name}}</td>
                            <td>{{details.level}}</td>
                            <td>{{details.start | date}}</td>
                            <td>
                                <a href="" ng-if="details.state === 'Interested'" style="color:blue" ng-click="update(details.userCourseId)">Toggle Enrolled</a>
                                <a href="" style="color:dimgray" ng-if="details.state === 'Enrolled'">Toggle Enrolled</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="#" ng-click="tabSwitch('students')" style="margin-top:20px;">Return</a>
            </div>
            <div id="timetable" class="tab-pane fade-in center-padding" style="display:none;">
                <table>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>

                    </tr>
                    <tr>
                        <td>Coding</td> <!--Filled with the available rooms-->
                        <td>Free</td>
                        <td>Free</td>
                        <td>Coding</td>
                        <td>Coding</td>
                    </tr>
                    <tr>
                        <td>Free</td>
                        <td>Free</td>
                        <td>Coding</td>
                        <td>Digital Marketing</td>
                        <td>Coding</td>
                    </tr>
                    <tr>
                        <td>Digital Marketing</td>
                        <td>Digital Marketing</td>
                        <td>Coding</td>
                        <td>Free</td>
                        <td>Coding</td>
                    </tr>
                    <tr>
                        <td>Digital Marketing</td>
                        <td>Coding</td>
                        <td>Free</td>
                        <td>Free</td>
                        <td>Coding</td>
                    </tr>
                </table>
            </div>
            <div id="roomBooking" class="tab-pane fade-in center-padding" style="display:none;">

                <table>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>

                    </tr>
                    <tr>
                        <td class="taken">Room 1 - Taken</td>
                        <td class="free">Room 1 - Free</td>
                        <td class="free">Room 1 - Free</td>
                        <td class="free">Room 1 - Free</td>
                        <td class="free">Room 1 - Free</td>
                    </tr>
                    <tr>
                        <td class="free">Room 2 - Free</td>
                        <td class="free">Room 2 - Free</td>
                        <td class="free">Room 2 - Free</td>
                        <td class="free">Room 2 - Free</td>
                        <td class="free">Room 2 - Free</td>
                    </tr>
                    <tr>
                        <td class="free">Room 3 - Free</td>
                        <td class="free">Room 3 - Free</td>
                        <td class="taken">Room 3 - Taken</td>
                        <td class="free">Room 3 - Free</td>
                        <td class="free">Room 3 - Free</td>
                    </tr>
                    <tr>
                        <td class="free">Room 4 - Free</td>
                        <td class="taken">Room 4 - Taken</td>
                        <td class="free">Room 4 - Free</td>
                        <td class="free">Room 4 - Free</td>
                        <td class="taken">Room 4 - Taken</td>
                    </tr>
                    <tr>
                        <td class="free">Room 5 - Free</td>
                        <td class="free">Room 5 - Free</td>
                        <td class="free">Room 5 - Free</td>
                        <td class="taken">Room 5 - Taken</td>
                        <td class="free">Room 5 - Free</td>
                    </tr>
                </table>
                <br>
                <button ng-click="openForm()" id="openButton" class="open">Book Room</button>
                <div class="room-popup" id="bookRoom">
                    <form class="form-container">
                        <p class="formTitle">Book Room</p>

                        <input type="text" placeholder="Enter Room" name="bookRoom" class="textField" required> <!--Could be changed to dropdown if there are only a few rooms-->
                        <br>
                        <button type="submit" class="submit">Submit</button>
                        <button type="button" class="cancel" ng-click="closeForm()">Close</button>
                    </form>
                </div>
            </div>
            <div id="addAdmin" class="tab-pane fade-in center-padding" style="display:none;">
                <form class="addAdmin_form">
                    <h4>Add Admin</h4>
                    <br />
                    <div class="form-group">
                        <input type="text" class="form-control popup_input" placeholder="First Name" value="" ng-model="addAdmin.firstName" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control popup_input" placeholder="Second Name" value="" ng-model="addAdmin.secondName" required />
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control popup_input" placeholder="Contact Number" value="" ng-model="addAdmin.contactNumber" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control popup_input" placeholder="Address Line 1" value="" ng-model="addAdmin.addressLine1" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control popup_input" placeholder="Address Line 2" value="" ng-model="addAdmin.addressLine2" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control popup_input" placeholder="Address Line 3" value="" ng-model="addAdmin.addressLine3" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control popup_input" placeholder="Post Code" value="" ng-model="addAdmin.postcode" required />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control popup_input" placeholder="Email Address" value="" ng-model="addAdmin.emailAddress" required />
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control popup_input" placeholder="Date Of Birth" value="" ng-model="addAdmin.dateOfBirth" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control popup_input" placeholder="Password" value="" ng-model="addAdmin.password" required />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control popup_input" placeholder="Confirm Password" value="" ng-model="password2" required />
                    </div>
                    <div class="form-group" style="justify-content: flex-end;margin-top: 70px; display:flex;">
                        <input type="submit" id="register" class="addAdmin_btn" value="Save" ng-click="addAdminSubmit()" style="width: 250px;" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
</html>