﻿<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

    <link rel="stylesheet" href="/app/css/indexStyle.css" />
    <link rel="stylesheet" href="/app/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/teacher.css">
    <title>MK college - Teachers</title>
</head>
<body>
    <div class="container-fluid">
        <nav id="header">
            <div class="row">
                <div class="logo-container">
                    <img src="/img/mkcLogo_Trans.png" alt="MKC" style="max-width:100px;margin: 1rem;">
                </div>
                <ul id="title" class="navbar-nav" style="margin-right:20px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{current_user.fullName}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" style="margin-bottom:10px;" href="#" ng-click="logout()">Log out</a>

                            <a class="dropdown-item" href="/edit">Change Details</a> 
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

            <!--<ul class="nav nav-tabs center-padding" role="tablist">
                <li class="nav-item"><a id="coursesTab" data-toggle="tab" class="nav-link" href="#courses" >Courses</a></li>
                <li class="nav-item"><a id="studentsTab" data-toggle="tab" class="nav-link" href="#students">Students</a></li>
                <li class="nav-item"><a id="timetableTab" data-toggle="tab" class="nav-link" href="#timetable">Timetable</a></li>
                <li class="nav-item"><a id="roomBookingTab" data-toggle="tab" class="nav-link" href="#roomBooking">Room Booking</a></li>
            </ul>-->
            <ul class="nav nav-tabs center-padding" role="tablist">
                <li class="nav-item"><a id="coursesTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('courses')">Courses</a></li>
                <li class="nav-item"><a id="studentsTab" data-toggle="tab" class="nav-link" href=""  ng-click="tabSwitch('students')">Students</a></li>
                <li class="nav-item"><a id="timetableTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('timetable')">Timetable</a></li>
                <li class="nav-item"><a id="roomBookingTab" data-toggle="tab" class="nav-link" href="" ng-click="tabSwitch('roomBooking')">Room Booking</a></li>
            </ul>
            <br>
            <div class="tab-content">
                <div id="courses" class="tab-pane  fade-in active" style="display:none;">
                    <!--Courses-->
                    <div class="wrapper">

                        <div class="course-wrapper">
                            <form class="form-inline search-bar search">
                                <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" ng-model="search" ng-change="filterData()">
                            </form>
                            <div class="row">

                                <div class="card-wrapper col-xl-3 col-lg-4 col-md-6 col-sm-12" ng-repeat="course in courses">
                                    <div class="card">

                                        <img class="card-img-top" src="/img/courses/{{ course.img }}" alt="Card image cap" />
                                        <div class="card-body">
                                            <h5 class="card-title">{{ course.name }}</h5>
                                            <h6 class="card-title">Level: {{ course.level }}</h6>
                                            <h6 class="card-title">Duration: {{ course.startDate | date }} - {{ course.startDate | date }}</h6>
                                            <p class="card-text">
                                                {{course.description}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="students" class="tab-pane fade-in center-padding" style="display:none;">
                    <form class="form-inline search-bar search">
                        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" ng-model="search" ng-change="filterData()">
                    </form>
                    <div>
                        <table>
                            <tr>
                                <th>Student ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>View Details</th>
                            </tr>
                            <tr ng-repeat="student in students">
                                <td>{{student.id}}</td>
                                <td>{{student.firstname}}</td>
                                <td>{{student.secondname}}</td>
                                <td><a href="#" ng-click="studentSwitch(student.id)"  style="color:blue">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="studentView" class="tab-pane fade-in center-padding" style="display:none;">

                    <h5>Student ID : {{studentID}}</h5>
                    <div style="margin:20px 0px;"> 
                        <table>
                            <tr>
                                <th>Course ID</th>
                                <th>State</th>
                                <th>name</th>
                                <th>level</th>
                                <th>Start Date</th>
                            </tr>
                            <tr ng-repeat="details in stu">
                                <td>{{details.courseId}}</td>
                                <td>{{details.state}}</td>
                                <td>{{details.name}}</td>
                                <td>{{details.level}}</td>
                                <td>{{details.start | date}}</td>
                            </tr>
                        </table>
                    </div>
                    <a href="#" ng-click="tabSwitch('students')" style="margin-top:20px;">Return</a>
                </div>
                <div id="timetable" class="tab-pane fade-in center-padding" style="display:none;">
                    <table>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>

                        </tr>
                        <tr>
                            <td>Coding</td> <!--Filled with the available rooms-->
                            <td>Free</td>
                            <td>Free</td>
                            <td>Coding</td>
                            <td>Coding</td>
                        </tr>
                        <tr>
                            <td>Free</td>
                            <td>Free</td>
                            <td>Coding</td>
                            <td>Digital Marketing</td>
                            <td>Coding</td>
                        </tr>
                        <tr>
                            <td>Digital Marketing</td>
                            <td>Digital Marketing</td>
                            <td>Coding</td>
                            <td>Free</td>
                            <td>Coding</td>
                        </tr>
                        <tr>
                            <td>Digital Marketing</td>
                            <td>Coding</td>
                            <td>Free</td>
                            <td>Free</td>
                            <td>Coding</td>
                        </tr>
                    </table>
                </div>
                <div id="roomBooking" class="tab-pane fade-in center-padding" style="display:none;">

                    <table>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>

                        </tr>
                        <tr>
                            <td class="taken">Room 1 - Taken</td>
                            <td class="free">Room 1 - Free</td>
                            <td class="free">Room 1 - Free</td>
                            <td class="free">Room 1 - Free</td>
                            <td class="free">Room 1 - Free</td>
                        </tr>
                        <tr>
                            <td class="free">Room 2 - Free</td>
                            <td class="free">Room 2 - Free</td>
                            <td class="free">Room 2 - Free</td>
                            <td class="free">Room 2 - Free</td>
                            <td class="free">Room 2 - Free</td>
                        </tr>
                        <tr>
                            <td class="free">Room 3 - Free</td>
                            <td class="free">Room 3 - Free</td>
                            <td class="taken">Room 3 - Taken</td>
                            <td class="free">Room 3 - Free</td>
                            <td class="free">Room 3 - Free</td>
                        </tr>
                        <tr>
                            <td class="free">Room 4 - Free</td>
                            <td class="taken">Room 4 - Taken</td>
                            <td class="free">Room 4 - Free</td>
                            <td class="free">Room 4 - Free</td>
                            <td class="taken">Room 4 - Taken</td>
                        </tr>
                        <tr>
                            <td class="free">Room 5 - Free</td>
                            <td class="free">Room 5 - Free</td>
                            <td class="free">Room 5 - Free</td>
                            <td class="taken">Room 5 - Taken</td>
                            <td class="free">Room 5 - Free</td>
                        </tr>
                    </table>
                    <br>
                    <button ng-click="openForm()" id="openButton" class="open">Book Room</button>
                    <div class="room-popup" id="bookRoom">
                        <form class="form-container">
                            <p class="formTitle">Book Room</p>

                            <input type="text" placeholder="Enter Room" name="bookRoom" class="textField" required> <!--Could be changed to dropdown if there are only a few rooms-->
                            <br>
                            <button type="submit" class="submit">Submit</button>
                            <button type="button" class="cancel" ng-click="closeForm()">Close</button>
                        </form>
                    </div>
                </div>
            </div>

        <!--script src="/Scripts/teacherScript.js"></script>-->
    </div>
</body>
</html>