﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IOT Website</title>
    <link rel="stylesheet" href="/app/css/indexStyle.css" />
    <link rel="stylesheet" href="/app/css/nav.css" />
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between"
             style="background-color: #001a70;">
            <a class="navbar-brand" href="/">
                <div class="logoImg">
                    <img src="/img/mkcLogo_Trans.png" alt="MKC" class="img-fluid" />
                </div>
            </a>
            <ul id="title" class="navbar-nav" style="margin-right:20px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{current_user.fullName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" style="margin-bottom:10px;" href="#" ng-click="logout()">Log out</a>

                        <a class="dropdown-item" href="/edit">Change Details</a>
                    </div>
                </li>
            </ul>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto" style="float: right; text-align: right;">

                    <li class="nav-item">
                        <a class="nav-link active" href="/student?courses=my" ng-if="courseQuery === 'my'">My Courses</a>
                        <a class="nav-link" href="/student?courses=my" ng-if="courseQuery === 'all'">My Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/student?courses=all" ng-if="courseQuery === 'all'">All Courses <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="/student?courses=all" ng-if="courseQuery === 'my'">All Courses <span class="sr-only">(current)</span></a>
                    </li>
                    <form class="form-inline search-bar">
                        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" ng-model="search" ng-change="filterData()">
                    </form>
                </ul>


            </div>
        </nav>
        <div class="wrapper">
            <div class="collection-wrapper">
                <div class="row">
                    <div class="card-wrapper col-xl-3 col-lg-4 col-md-6 col-sm-12" ng-repeat="course in courses" ng-if="courseQuery === 'all'">
                        <div class="card">

                            <img class="card-img-top" src="/img/courses/{{ course.img }}" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <h6 class="card-title">Level: {{ course.level }}</h6>
                                <h6 class="card-title">Duration: {{ course.startDate | date }} - {{ course.startDate | date }}</h6>
                                <p class="card-text">
                                    {{course.description}}
                                </p>
                                <a href="#" class="btn btn-primary" ng-if="!course.enrolled" ng-click="registerInterest(course.id)">Enroll</a>
                                <a href="#" class="btn btn-secondary" ng-if="course.enrolled && course.enrolledState === 0">Already Interested</a>
                                <a href="#" class="btn btn-secondary" ng-if="course.enrolled && course.enrolledState === 1">Already Enrolled</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-wrapper col-xl-3 col-lg-4 col-md-6 col-sm-12" ng-repeat="course in courses" ng-if="courseQuery === 'my'">
                        <div class="card">

                            <img class="card-img-top" src="/img/mkcLogo.jpg" alt="Card image cap" />
                            <div class="card-body">
                                <h5 class="card-title">{{ course.name }}</h5>
                                <h6 class="card-title">Level: {{ course.level }}</h6>
                                <h6 class="card-title">Duration: {{ course.startDate | date }} - {{ course.startDate | date }}</h6>
                                <p class="card-text">
                                    {{course.description}}
                                </p>
                                <a href="#" class="btn btn-secondary" ng-if="course.state === 0">Interested</a>
                                <a href="#" class="btn btn-secondary" ng-if="course.state === 1">Enrolled</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading_box">
        <img src="/img/ajax-loader.gif" alt="loading animation" />
    </div>

</body>


</html>