﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->

    <title>IOT Registration</title>
    <link rel="stylesheet" href="/app/css/registerForm.css" />
</head>

<body>
    <div class="wrapper">
        <div class="logoImg">
            <img src="/img/mkcLogo_Trans.png" alt="MKC" class="img-fluid" />
        </div>

        <!-- <div id="debug">test</div> -->

        <div class="box-wrapper">
            <div class="register-wrapper">
                <div class="register-text">
                    <h5>Already registered?</h5>
                    <div class="form-group signUpWrapper">
                        <button class="signUpButton"><a href="/login" class="signUpButton">Login!</a></button>
                    </div>
                </div>
            </div>
            <div class="form-wrapper">
                <div class="form">
                    <div id="login-form" class="login-form-1">
                        <form class="form_body">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Your full name *" value="" ng-model="signup.firstName" required/>
                            </div>
                            <div class="form-group">
                                <input id="emailTextbox" type="text" class="form-control" placeholder="Your Email *" value=""  ng-model="signup.emailAddress" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Your Password *" value=""  ng-model="signup.password" required/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" ng-model="secondPass" required/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btnSubmit" id="register" value="Register" ng-click="signupSubmit()"/>
                            </div>
                        </form>
                        
                    </div>
                    
                </div>
            </div>

            <div class="blue-box-wrapper">
                <div class="blue-box">
                    <div class="imgWrapper">
                        <img src="img/bg-img-001.jpg" alt="blue distorted shades" id="bgImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>