﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IOT Registration</title>
    <link rel="stylesheet" href="/app/css/registerForm.css" />
</head>

<body>
    <div class="wrapper">
        <div class="logoImg">
            <img src="/img/mkcLogo_Trans.png" alt="MKC" class="img-fluid" />
        </div>

        <!-- <div id="debug" style="color: aliceblue;">test</div> -->

        <div class="box-wrapper">
            <div class="register-wrapper">
                <div class="register-text">
                    <h5>Hi {{name}},</h5>
                    <h5>Please complete these last few details...</h5>
                    <!-- <div class="form-group signUpWrapper">
                        <button class="signUpButton"><a href="login.html" class="signUpButton">Login!</a></button>
                    </div> -->
                </div>
            </div>
            <div class="form-wrapper">
                <div class="form">
                    <div id="login-form" class="login-form-1">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email Address *" value="" required ng-model="enroll.emailAddress" />
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Your contact number *" value="" required ng-model="enroll.contactNumber" />
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="Your D.O.B dd/mm/yyyy *" value="" required ng-model="enroll.dateOfBirth" />
                            </div>
                            <!--<div class="form-group">
        <input type="text" class="form-control" placeholder="House name/number *" value="" required/>
    </div>-->
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address line 1 *" value="" required ng-model="enroll.addressLine1" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address line 2" value="" ng-model="enroll.addressLine2" />
                            </div>
                            <div class="form-group">
                                <input id="emailTextbox" type="text" class="form-control" placeholder="Address line 3"
                                       value="" ng-model="enroll.addressLine3" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Post Code *" value="" required ng-model="enroll.postcode" />
                            </div>
                            <!--  -->
                            <div class="form-group">
                                <input type="checkbox" class="termsCTA" name="terms" value="true"
                                       ng-change="toggleBtn()" ng-model="confirmed" />
                                <label for="terms">
                                    I have read the <a href="PP">Privacy Policy</a> and I agree to the <a href="TC">Terms & Conditions</a>.
                                </label>
                            </div>
                            <!--  -->
                            <div class="form-group">
                                <input type="submit" class="btnSubmit register-hide" id="register"
                                       value="Complete Registration" ng-click="enrollSubmit()" />
                            </div>
                        </form>

                    </div>

                </div>
            </div>

            <div class="blue-box-wrapper">
                <div class="blue-box">
                    <div class="imgWrapper">
                        <img src="/img/bg-img-001.jpg" alt="blue distorted shades" id="bgImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script to toggle the register button when agreement checkbox is changed -->
    <!--<script>
        function toggleBtn() {
            $('#register').toggleClass('register-hide');
        }
    </script>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>-->
    <!--<script type="text/javascript" src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>-->
</body>

</html>