﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <title>IOT Registration</title>
    <link rel="stylesheet" href="/app/css/editForm.css" />
    <link rel="stylesheet" href="/app/css/nav.css" />
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between"
         style="background-color: #001a70;">
        <a class="navbar-brand" href="/">
            <div class="logoImg">
                <img src="/img/mkcLogo_Trans.png" alt="MKC" class="img-fluid" />
            </div>
        </a>
        <ul id="title" class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{edit.firstName + ' ' + edit.secondName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" ng-click="logout()">Log out</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="blur"></div>
    <form class="popup_form">
        <h4>Edit Password</h4>
        <br />
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" value="" ng-model="password" required/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confrim Password" value="" ng-model="confirmPassword" required />
        </div>
        <div class="form-group" style="justify-content: space-between;margin-top: 70px;">
            <input type="button" id="close" class="btnSubmit" value="Close" ng-click="ChangePassword()" style="width: 250px;" />
            <input type="submit" id="register" class="btnSubmit" value="Save" ng-click="PasswordSubmit()" style="width: 250px;" />
        </div>
    </form>
    <div class="wrapper">

        <div class="box-wrapper">
            <div class="form-wrapper">
                <div class="form">
                    <div id="login-form" class="login-form-1">
                        <form class="form_body">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" placeholder="Contact Number" value="" ng-model="edit.contactNumber" />
                            </div>
                            <div class="form-group">
                                <label>Email Address</label>
                                <input type="text" class="form-control" placeholder="Your Email Address" value="" ng-model="edit.emailAddress" />
                            </div>
                            <div class="form-group">
                                <label>Address Line 1</label>
                                <input type="text" class="form-control" placeholder="Address Line 1" value="" ng-model="edit.addressLine1" />
                            </div>
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <input type="text" class="form-control" placeholder="Address Line 2" value="" ng-model="edit.addressLine2" />
                            </div>
                            <div class="form-group">
                                <label>Address Line 3</label>
                                <input type="text" class="form-control" placeholder="Address Line 3" value="" ng-model="edit.addressLine3" />
                            </div>
                            <div class="form-group">
                                <label>Postcode</label>
                                <input type="text" class="form-control" placeholder="Postcode" value="" ng-model="edit.postcode" />
                            </div>
                            <!--<div class="form-group">
                                <input type="submit" id="close" class="btnSubmit right_btn" value="Edit Password" ng-click="ChangePassword()" />
                            </div>-->
                            <div class="form-group">
                                <a href="{{lastpage}}" style="flex:1;">Return</a>
                                <input type="submit" id="close" class="btnSubmit right_btn" value="Edit Password" ng-click="ChangePassword()" style="width: 180px;margin-left:0px;" />
                                <input type="submit" class="btnSubmit right_btn" id="register" value="Save" ng-click="passwordSubmit()" style="width: 150px;margin-left:20px;"/>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

            <div class="blue-box-wrapper">
                <div class="blue-box">
                    <div class="imgWrapper">
                        <img src="img/bg-img-001.jpg" alt="blue distorted shades" id="bgImg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>