/* Main body reference for sliding in unison with the navigation menu */
body,
html {
  height: 100%;
  width: 100%;
  background: #001a70;
  /* font-size: large; */
}

/* nav {
    line-height: 3;
} */

.wrapper {
  /* background: #001a70; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

/* .logoImg {
    position: absolute;
    position: fixed;
    display: flex;
    max-width: 100px;
    width: 10%;
    height: auto;
    top: 1rem;
    left: 1rem;
    z-index: 5;
}*/

/* #title {
    margin-left: 115px;
} */

.card {
    margin-bottom: 10%;
    min-height: 570px;
}

.card-body {
    display:flex;
    flex-direction:column;
}

.card-text { 
    flex:1;
}

.status {
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    float: right;
    margin-top: 10px;
}

.status.reg {
    background-color: blueviolet;
}

.status.enrol {
    background-color: green;
}

.wrapper .collection-wrapper {
    margin: 10%;
    width: 100%;
}

/* .card-wrapper {
    padding: 10px;
} */

@media screen and (max-width: 1200px) {
    .wrapper .collection-wrapper {
        margin: 12%;
        width: 100%;
    }

    /* #title {
        margin-left: 10%;
    } */
}

/* @media screen and (max-width: 990px) {
    nav {
        line-height: 2.5;
    }
}

@media screen and (max-width: 810px) {
    nav {
        line-height: 2;
    }
} */

@media screen and (max-width: 768px) {
    .wrapper .collection-wrapper {
        margin: 15%;
        margin-top: 15%;
    }
}