/* Main body reference for sliding in unison with the navigation menu */
body,
html {
  height: 100%;
  width: 100%;
}

.wrapper {
    background: #001a70;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.wrapper .box-wrapper {
  height: 75%;
  width: 100%;
  padding: 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
}

/* *************************************************************************************** */

/* .wrapper .box-wrapper .login-text,
.wrapper .box-wrapper .register-text {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(210, 210, 210);
  text-align: center;
  z-index: 1;
} */

/* .wrapper .box-wrapper button {
width: 50%;
border-radius: 50px;
padding: 0.5rem;
box-sizing: 0;
background-color: #ffa333;
border: none;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */

/* *************************************************************************************** */

.blue-box-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.blue-box {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgWrapper {
  width: 65%;
  height: 85%;
}
    #bgImg {
    width: 100%;
    height: 100%;
    }

.logoImg {
    position: absolute;
    /* background-color: #001a70; */
    max-width: 100px;
    height: auto;
    top: 1rem;
    left: 1rem;
    z-index: 5;
    min-width: 70px;
}

@media screen and (max-width: 900px) {
  .wrapper .box-wrapper {
    flex-direction: column;
    height: 100%;
  }
}
