nav {
    line-height: 3;
}

.navbar-brand { margin-right: 0px; }

nav a {
    font-size: larger;
}

.nav-link {
    line-height: 1.5;
    
}

.navbar-toggler {
    outline: none !important;
}

.navbar-toggler:hover {
    border-color: #fff;
}

.btn-outline-secondary {
    border-color: #eb2cd1;
    color: #eb2cd1;
}

.btn-outline-secondary:hover {
    background-color: #eb2cd1;
    border-color: #fff;
    color: #fff;
}

.logoImg {
    position: relative;
    /* position: fixed; */
    display: flex;
    max-width: 100px;
    height: auto;
    top: 1%;
    left: 1%;
    z-index: 5;
}


#title a {
    color: #fff;
    font-size: xx-large;
}

#title a:hover {
    color: #eb2cd1;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

#title .dropdown-item {
    line-height: 1.5;
    font-size: larger;
    background-color: #fff;
    color: #eb2cd1;
    border-radius: 5px;
}

#title .dropdown-item:hover {
    background-color: #eb2cd1;
    color: #fff;
}

@media screen and (min-width: 1200px) {
    #title {
        margin-left: 2%;
    }
}

@media screen and (max-width: 990px) {
    nav {
        line-height: 2.5;
    }

}

@media screen and (max-width: 810px) {
    nav {
        line-height: 2;
    }
}

@media screen and (max-width: 610px) {
    .logoImg {
        width: 80%
    }

}


