
.form-wrapper{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.form {
    height: 100%;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    transition: all 500ms;
}

.login-container{
    margin-top: 15%;
    margin-bottom: 15%;
}
.login-form-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 5%;
    height: 100%;
}
.login-form-1 form{
    width: 100%;
}
.form-control{
    color: #001a70;
    border-color: #001a70;
    border-width: 3px;
    font-weight: bold;
    /* height: 50px; */
}
.btnSubmit
{
    width: 60%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #001a70;
    margin-left: 20%;
}

.ForgetPwd{
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    color: #eb2cd1;
    width: 56%;
    margin-left: 22%;
}

.ForgetPwd:hover {
    text-decoration: underline;
    /* background-color: #eb2cd1;
    color: #fff; */
}

.signUpWrapper{
    width: 60%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    background-color: rgb(210, 210, 210);
    text-align: center;
    margin-left: 20%;
    z-index: 4;
}

.signUpButton{
    color: #001a70;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.signUpButton:hover {
    color: #eb2cd1;
}

.register-wrapper{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7%;
    z-index: 3;
}

.register-text{
    color: rgb(210, 210, 210);
}

#register{
    background-color: #eb2cd1;
    color: #fff;
}
#register:hover{
    color: #eb2cd1;
    background-color: #fff;
    border-style: dotted;
    border-color: #eb2cd1;
    border-width: thick;
    transition: all 500ms;
}


@media screen and (max-width: 1096px){
    .form {
        min-width: 280px;
    }
}

@media screen and (max-width: 900px){
    .form-wrapper{
        width: 100%;
        justify-content: center;
    }

    .form {
        width: 100%;
        height: 90%;
        transform: translateY(-10%);

    }

    .register-wrapper{
        width: 100%;
        padding-left: 0;
        transform: translateY(15%);

    }
}