﻿* {
    box-sizing: border-box;
    font-family: Montserrat, Arial;
}

body {
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
}

.body_content { width:100%; height:100% }

.loading_box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: white;
    display:none;
}
.loading_box img {
    margin:13px;
}

.popup_form {
    z-index: 1050;
    display: none;
    position: fixed;
    background: white;
    height: 50%;
    width: 50%;
    padding: 5% 3%;
    left: 25%;
    top: 15%;
}

.blur {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #00000099;
    z-index: 1040;
}

nav { min-height:100px; }

.card-img-top {
    height:254px;
}

@media screen and (max-width: 900px) {
    .name { font-size: larger !important; }
}
