﻿body {
    background-color: #001A70;
    font-family: "Calibri";
    color: white;
}

a {
    color: white
}

.ForgetPwd {
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    background-color: transparent;
    color: #eb2cd1;
    width: 56%;
    margin-left: 22%;
}

.ForgetPwd:hover {
    text-decoration: underline;
    /* background-color: #eb2cd1;
color: #fff; */
}
.btnSubmit {
    width: 60%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #001a70;
    margin-left: 20%;
}

.btnSubmit:hover {
    color: #001a70;
    background-color: #fff;
    border-style: dotted;
    border-color: #001a70;
    border-width: thick;
    transition: all 500ms;
}

.popup_form {

    height: 70%;
    padding: 2% 3%;
}

.form_flex { display:flex; align-items:center; }
.blue-lbl {
    color: blue;
    min-width: 130px;
    margin-bottom:0;
}


.popup_input {
    color: #001a70;
    border-color: #001a70;
    border-width: 3px;
    font-weight: bold;
    /* height: 50px; */
}

.userMenu {
    cursor: pointer;
}

.nav-item:hover {
    
    transition-duration: 0.5s;
}

.teacherName {
    text-transform: capitalize;
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

    .teacherName:hover {
        text-decoration: underline;
    }

#menu {
    padding: 10px;
    color: white;
    text-align: right;
    display: none;
    cursor: default;
}

.center-padding {
    max-width: 1400px;
    margin: auto;
}

.logo {
    height: 100px;
}

.card {

    color: black;
}

table, th, td {
    

    
    padding: 5px;
    table-layout: fixed;
    width: 100%;
    margin: auto;
}
th, td {
    border: 1px solid black;
}

tr:first-child {
    background: #01a9ff;
    color:white
}

tr { 
    color:black;
}

table {
    text-align:center;
    background-color: white;
    border-collapse: collapse;
    border-radius: .5em;
    overflow: hidden;
}

.wrapper .collection-wrapper {
    margin: 2% 10%;
    width: 100%;
}

th {
    font-size: 20px;
    /*width: 125px;*/
    height: 75px;
}

td {
    font-size: 15px;
    width: 125px;
    height: 75px;
}

.formTitle {
    color: black;
    font-size: 20px;
    font-weight: 400px;
}

.form-container {
    max-width: 235px;
    height: 175px;
    padding: 10px;
    background-color: white;
    color: black;
}


.open {
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    background: transparent;
    border: none;
}

.room-popup {
    display: none;
}

.open:hover {
    text-decoration: underline;
}

.submit {
    color: #fff;
    background-color: #001a70;
    cursor: pointer;
    margin-right: 20px;
    padding: 1.5%;
    border: none;
    padding: 5px;
}

    .submit:hover {
        color: #001a70;
        background-color: #fff;
        border-style: dotted;
        border-color: #001a70;
        transition: all 500ms;
    }

.cancel {
    color: white;
    background-color: #001A70;
    cursor: pointer;
    border: none;
    margin: 10px;
    padding: 5px;
}

    .cancel:hover {
        color: #001a70;
        background-color: #fff;
        border-style: dotted;
        border-color: #001a70;
        transition: all 500ms;
    }

.textfield {
    margin: 10px;
}

#header {
    min-height: 100px;
}

.logo-container{
    flex: 1;
}

.course-wrapper {
    max-width: 1400px;
    width: 100%;
}

.search {
    margin: 0px 0px 25px 0px;
    justify-content: flex-end;
}

.free {
    background: rgba(40,167,69,0.7)
}
.taken {
    background: rgba(220,53,69,0.7)
}

.addAdmin_form{
    padding:20px;
}

.addAdmin_btn {
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #001a70;
    background-color: #fff;
}
.addAdmin_btn:hover {
    color: #001a70;
    background-color: #fff;
    border-style: dotted;
    border-color: #001a70;
    border-width: thick;
    transition: all 500ms;
}

@media screen and (max-width: 1206px) {
    .popup_form { top:10%; left:15%; width:70%;}
}

@media screen and (max-width: 520px) {
    .popup_form {
        top: 5%;
        left: 10%;
        width: 80%;
        height: 90%;
    }
}